# Virtual environments
.venv/
.venv1/

# IDEs
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# Optional outputs (comentat dacă vrei să le păstrezi)
# outputs/
